$primary-color: red; 


.row {
  width: 50%;
  margin: 50px auto;
  display: table;
  
  div {
    height: 50px; 
    width: 20%;
    display: table-cell; 
    line-height: 50px; 
    text-align: center;
    
    &:nth-child(1) {
      background-color: darken($primary-color, 10%);
    }
    
    &:nth-child(2) {
      background-color: $primary-color;
    }
    
    &:nth-child(3) {
      background-color: lighten($primary-color, 20%);
    }
    
    &:nth-child(4) {
      background-color: lighten($primary-color, 
        30%);
    }
  }
}